# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backup
*.bak
*.backup
